# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Optional: if you ever add a build step
node_modules/
dist/
.cache/
